<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <div class="main_div">
      <div class="head_div">
        <ion-label>USER SETTINGS</ion-label>
      </div>
      <div class="white_div">
        <ion-label class="black_lbl">Display Name</ion-label>
        <ion-label class="light_lbl">John Doe</ion-label>
      </div>
    </div>

    <div class="main_div">
      <div class="head_div">
        <ion-label>Local Contact</ion-label>
      </div>
      <div class="white_div">
        <ion-label class="black_lbl">Phonebook Country</ion-label>
        <ion-label class="light_lbl">India</ion-label>
      </div>
    </div>

    <div class="main_div">
      <div class="head_div">
        <ion-label>Notification</ion-label>
      </div>
      <div class="white_div">
        <ion-label class="black_lbl">Enable Notification for this account</ion-label>
        <ion-toggle mode="md"></ion-toggle>
      </div>
      <div class="white_div">
        <ion-label class="black_lbl">Notification Setting</ion-label>
      </div>
    </div>

    <div class="main_div">
      <div class="head_div">
        <ion-label>Autoplay</ion-label>
      </div>
      
      <ion-radio-group mode="md">
        <div class="white_div">
          <ion-label class="black_lbl">On mobile data and Wi-Fi Connections</ion-label>
          <ion-radio></ion-radio>
        </div>
        <div class="white_div">
          <ion-label class="black_lbl">On wi-Fi Connections only</ion-label>
          <ion-radio></ion-radio>
        </div>
        <div class="white_div">
          <ion-label class="black_lbl">Never autoplay videos</ion-label>
          <ion-radio></ion-radio>
        </div>
      </ion-radio-group>

    </div>

    <div class="main_div">
      <div class="head_div">
        <ion-label>Other</ion-label>
      </div>
      <div class="white_div">
        <ion-label class="black_lbl">Application Info</ion-label>
        <ion-label class="light_lbl">Application system info screen</ion-label>
      </div>
      <div class="white_div">
        <ion-label class="black_lbl">Enable Security for Jdpay</ion-label>
      </div>
      <div class="white_div">
        <ion-label class="black_lbl">Privacy Setting</ion-label>
      </div>
      <div class="white_div">
        <ion-label class="black_lbl">Version</ion-label>
        <ion-label class="light_lbl">7.4.4</ion-label>
      </div>
      <div class="white_div">
        <ion-label class="black_lbl">Copyright</ion-label>
      </div>
      <div class="white_div">
        <ion-label class="black_lbl">Terms & conditions</ion-label>
      </div>
      <div class="white_div">
        <ion-label class="black_lbl">Privacy Policy</ion-label>
      </div>
      <div class="white_div">
        <ion-label class="black_lbl">Third party notices</ion-label>
      </div>
    </div>

  </div>
</ion-content>
