ion-menu{
    --width : 100%;
}

.main_menu_div{
    padding: 16px;

    ion-label {
        display: block;
    }

    .user_detail_div{

        display: flex;
        align-items: center;
        justify-content: space-between;

        .user_per{

            .username{
                font-weight: 600;
                margin-bottom: 5px;
            }

            .light{
                font-size: 14px;
                color: gray;
            }
        }
        .back_image{
            height: 50px;
            width: 50px;
            border-radius: 100%;
        }
    }

    .chip_div{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .list_div{
        .single_list{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            position: relative;
            .round_div{
                height: 35px;
                width: 35px;
                border-radius: 100%;
                border: 1px solid lightgray;
                position: relative;
                ion-icon{
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%,-59%);
                    font-size: 20px;
                }
                img{
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%,-59%);
                    width: 20px;
                }
            }

            ion-label {
                margin-left: 15px;
                color: gray;
                font-size: 14px;
            }
            ion-toggle{
                position: absolute;
                right: 0;
            }

            .abs_lbl{
                position: absolute;
                right: 0;
            }
        }
    }
}