.main_content_div{
    padding: 30px;
    width: 100%;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ion-label {
        display: block;
    }

    .logo{
        width: 130px;
        margin: auto;
        display: block;
    }

    .top_lbl{
        text-align: center;
        margin-bottom: 40px;
        font-size: 14px;
    }

    .bottom_lbl{
        text-align: center;
        margin-bottom:10px;
        font-size: 14px;
        color: gray;
    }

    ion-input{
        border-bottom: 1px solid lightgray;
        margin-top: 20px;
    }

    .fab_div{
        position: relative;
        margin-top: 20px;

        ion-fab{
            position: absolute;
            right: 0;
        }
    }

    .flex_div{
        margin-top: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .f_div{
            width: 100%;
            height: 1px;
            background: lightgray;
        }

        .or_div{
            background: lightgray;
            padding: 5px;
            border-radius: 25px;
            font-size: 12px;
            color: gray;
        }
    }

    ion-button{
        border: 1px solid lightgray;
        border-radius: 25px;
        color: gray;
        margin-top: 30px;

        img{
            width: 30px;
            margin-right: 10px;
        }
    }
}