ion-header{
    .back{
        font-size: 27px;
        margin-left: 10px;
    }
    ion-button{
        margin: 0;

        ion-icon{
            color: black;
            font-size: 20px;
        }
    }
}

// ion-content{
//     --background: #f3f3f3;
// }

.main_content_div{
    width: 100%;

    ion-label {
        display: block;
    }

    video{
        width: 100%;
    }

    .detail_div{
        padding: 10px 16px;
        border-bottom: 1px solid lightgray;

        .head_lbl{
            font-weight: 600;
            font-size: 22px;
        }

        .album_detail{
            color: #707070;
            font-weight: 600;
            font-size: 14px;
            margin-top: 7px;

            span{
                color: var(--ion-color-primary);
            }
        }
    }

    .autoplay_div{
        padding: 10px 16px;
        border-bottom: 1px solid lightgray;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        ion-label {
            color: #707070;
            font-size: 14px;
            font-weight: 600;
        }

        .tog_div{
            display: flex;
            align-items: center;

            ion-toggle{
                --background : var(--ion-color-success);
                --background-checked : var(--ion-color-success);
                --handle-background : white;
                --handle-background-checked :  white;
                --handle-height : 10px
            }

            ion-label {
                font-size: 12px;
                font-weight: normal;
            }
        }
    }

    .btn_div{
        padding: 10px 16px;
        position: relative;

        ion-button{
            --border-radius: 0px;
            height: 40px;
        }

        .icn_btn{
            --background: #b83d3d;
            height: 40px;
            --border-radius: 0px;
            position: absolute;
            right: 16px;
            top: 10px;

            ion-icon{
                font-size: 20px;
            }
        }

        .flex_div{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .lyrics_lbl{
                font-weight: 500;
                font-size: 14px;
            }

            .zoom_div{
                display: flex;

                .b1{
                    border: 1px solid lightgray;
                    border-radius: 100%;
                    height: 35px;
                    width: 35px;
                    position: relative;
                    margin-left: 10px;

                    ion-label {
                        font-weight: 700;
                        color: #707007;
                        font-size: 14px;
                        position: absolute;
                        top: 45%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                }
            }   
        }
        .lyrics_detail{
            margin-top: 5px;
            font-size: 14px;
            font-weight: 500;
            color: #707070;
        }

        .show_lbl{
            color: var(--ion-color-primary);
            font-size: 14px;
            font-weight: 500;
        }
    }
    .line_div{
        width: 100%;
        height: 5px;
        background: #f3f3f3;
    }

    .slider_div{
        padding: 10px 16px;

        .similar_lbl{
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
        }

        .slider_class{

            ion-slide{
                height: 170px;
                margin-right: 10px;
                margin-left: 5px;
            }

            .inner_slider{
                width: 100%;
                height: 150px;
                box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
                border-radius: 5px;
            }

            .image_div{
                width: 100%;
                height: 120px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                position: relative;
            }
            .name{
                padding: 5px;
                font-size: 13px;
                text-align: left;
            }
        }
    }

    .album_list{
        padding: 10px 16px;

        ion-label {
            font-size: 14px;
            font-weight: 500;
        }

        .list_div{
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
            .similar_lbl{
                margin-bottom: 5px;
                font-weight: normal !important ;
            }
    
            .art{
                color: #707070;
            }
            .time{
                position: absolute;
                right: 0;
                top: 50%;
                color: #707070;
            }
        }
    }
}