<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>

    <ion-title>Cricbuzz</ion-title>

    <ion-button slot="end" size="small" fill="clear">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">


    <div class="news_card">

      <div class="chip_div">
        <div class="chip">
          <div class="round"></div>
          <ion-label>New News</ion-label>
        </div>
      </div>

      <video playsinline webkit-playsinline autoplay>
        <source src="assets/imgs/video.mp4" type="video/mp4">
      </video>

      <div class="channel_detail">
        <img src="assets/imgs/news_icn3.png">
        <ion-label class="channel_name">Cricbuzz</ion-label> • 
        <ion-label class="follow_lbl">Follow</ion-label>
      </div>

      <ion-label class="head_line">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et repellat quos nihil autem ratione non.
      </ion-label>

      <div class="like_div">
        <img src="assets/imgs/like.png">
        <ion-label>12</ion-label>
        <ion-label class="share_lbl">2 Share</ion-label>
        <ion-label class="share_lbl">222 Views</ion-label>
      </div>

      <div class="share_div">
        <div class="left_div">
          <div class="round_div">
            <ion-icon name="thumbs-up-outline"></ion-icon>
          </div>
          <div class="round_div">
            <ion-icon name="chatbubble-outline"></ion-icon>
          </div>
          <div class="round_div">
            <ion-icon name="arrow-redo-outline"></ion-icon>
          </div>
        </div>
        <div class="right_div">
          <div class="round_div" style="margin-right: 0px;">
            <ion-icon name="bookmark-outline"></ion-icon>
          </div>
          <ion-button fill="clear" size="small">
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </div>
      </div>

      <ion-label class="link_lbl">10 minutes</ion-label>

    </div>

  </div>
</ion-content>

<ion-footer>
  <div class="footer_div">
    <ion-input type="text" placeholder="Comment.."></ion-input>
    <div class="blue_div">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </div>
  </div>
</ion-footer>
